.home {
    color: white;
    font-family: Arial, sans-serif;
    margin: 20% auto;
    width: fit-content;
    padding: 0;
    background-color: #2a2a2a;
}

.home .tabs {
    position: relative;
    background-color: #2a2a2a;
    float: left;
    width: 100%;
}

.home .tabs button {
    background-color: #2a2a2a;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
}